* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Aref Ruqaa', serif;
      overflow: hidden;
}

section {
      min-height: 100vh;
      background-image: url(../img/bg-page.jpg);
      background-size: cover;
}

div.overlay {
      width: 100%;
      min-height: 100vh;
      background: rgba(0, 0, 0, .3);
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 0 3rem 0 25rem;
}

[data-type-writer] {
      text-align: right;
      font-size: 5rem;
      position: relative;
}

[data-type-writer]::after {
      content: '';
      position: absolute;
      left: -22px;
      bottom: 22px;
      width: 1px;
      height: 50px;
      border-right: 2px solid black;
      animation: blink 500ms infinite ease-in-out;
}

@keyframes blink {
      0% {
            opacity: 0;
      }

      100% {
            opacity: 1;
      }
}

@media (max-width: 900px) {
      div.overlay {
            padding: 0 10px 0 100px;
            align-items: flex-start;
      }
      [data-type-writer] {
            font-size: 4rem;
      }
}